table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
tr:first-child{
    border-bottom: 3px solid #47bece;
}
tr{
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td{
    padding: 10px;
}